body{
    margin-left: 280px;
    margin-right: 150px;
}
body{
    font-family: cursive;
}

body{
    background-image: url(https://previews.123rf.com/images/peekeedee1/peekeedee11903/peekeedee1190300198/119041709-old-paper-texture-vintage-paper-background-or-texture.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;   
}
body{
    color: black;
}
body{
    font-size: x-large;
}





